<div class="mt-4 mx-2">
  <div class="row">
    <div class="col-6">
      <h5>My Review</h5>
    </div>
    <div class="col-md-3 col-sm-4"></div>
    <div class="col-md-3 col-sm-4">
      <div>
        <select class="form-control form-control-sm" (change)="optionChanged($event.target.value)">
          <option value="review" [selected]="selectedType=='review'">Pending Reviews</option>
          <option value="open" [selected]="selectedType=='open'">Submitted</option>
        </select>
      </div>
    </div>
  </div>
  <hr class="m-0 p-0 mt-2" />
</div>

<div class="mt-3">
  <div *ngIf="!payload" class=" alert alert-common text-center align-middle">
    <strong>No Reviews Available Right Now. Come back later.</strong>
  </div>

  <div class="mb-5 mx-2" *ngIf="payload">
    <ng-container>
      <div class="form-group row">
        <label class="col-3 font-weight-bold" for="reviewType">Review Type:</label>
        <div class="col-6">
          <label>{{payload.reviewType}}</label>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-3 font-weight-bold" for="reviewDate">Review Initiation Date:</label>
        <div class="col-6">
          <label>{{payload.reviewStartDate | date : 'dd-MMM-yyyy'}}</label>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-3 font-weight-bold" for="reviewDate">Review Completion Date:</label>
        <div class="col-6">
          <label>{{payload.reviewEndDate | date : 'dd-MMM-yyyy'}}</label>
        </div>
      </div>

      <!-- <div class="form-group row">
        <label class="col-3" for="Gender">Status:</label>
        <div class="col-6">
          <label>{{payload.status}}</label>
        </div>
      </div> -->

      <div class="form-group row pull-right pb-5">
        <div class="col-6">
          <button type="button" *ngIf="selectedType=='review'" (click)="start()"
            class="btn bg-thor text-white">Start</button>
          <button type="button" *ngIf="selectedType=='open'" (click)="view(review)"
            class="btn bg-thor text-white">View</button>
        </div>
      </div>
    </ng-container>
  </div>
</div>




<!------------------------------------------------------------------------------------------------------------------------->

<ng-template #review>
  <div class="modal-header">
    <h5 class="modal-title pull-left">Review</h5>
    <button type="button" class="close pull-right" aria-label="Close" (click)="reviewRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="col-12 mt-2" *ngIf="_isTemplateAvailable">
      <accordion [closeOthers]="true">
        <accordion-group *ngFor="let create of createList; let idx = index" [heading]="create.title" [isOpen]="idx==0"
          (isOpenChange)="log($event)">
          <div *ngIf="(!create?.rejected)" class="pull-right" accordion-heading>
            <p id="weight" class="pl-1 pull-right">{{weightage[idx]?.value}}</p>
            <label for="weight" class="font-weight-bold pull-right">Weightage : </label>
          </div>
          <section id="contact-list">
            <div *ngFor="let cat of json.categoryResponses; let i=index">
              <ul class="list-group mt-1" *ngIf="idx==i">
                <li class="list-group-item bg-light">
                  <p>
                    <span class="font-weight-bold text-viewall">Key Performance Indicators</span>
                    <span *ngIf="cat.weightageAgainstKRA">
                      <span class="pull-right">
                        <input type="text" class="form-control form-control-sm quantity pull-right mx-3"
                          style="width:150px" [attr.disabled]="true" placeholder="KRA Weightage"
                          [ngModel]="cat.textResponse.employee" id="weight-{{i}}" />
                      </span>
                      <span class="font-weight-bold text-viewall pull-right"><label>KRA Weightage : </label></span>
                    </span>
                  </p>
                  <div class="card p-0">
                    <div class="card-body">
                      <div *ngFor="let sub of cat.subCategoryResponses; let s=index" class="mt-2">
                        <div *ngIf="(sub.type | lowercase) != 'table'">
                          <div class="form-group row">
                            <div class="col-md-3 font-weight-bold"
                              [ngClass]="{'col-md-6 font-weight-bold': payload.reviewId!=3}">
                              <p>{{ sub.name }}
                                <i *ngIf="sub.description && sub.description!=''" class="fas fa-info-circle" triggers=""
                                  #pop="bs-popover" [popover]="sub.description" popoverTitle="Description"
                                  [outsideClick]="true" containerClass="customClass" (click)="open(pop)"
                                  placement="right"></i>
                              </p>
                            </div>
                            <div class="col-md-3" *ngIf="payload.reviewId==3">
                              <p>{{sub.goal}}</p>
                            </div>
                            <div class="col-md-6">
                              <div *ngIf="(sub.type | lowercase) == 'text'">
                                <input type="text" class="form-control form-control-sm" id="text-{{i}}-{{s}}"
                                  name="text-{{i}}-{{s}}" [ngModel]="sub.textResponse.employee"
                                  [attr.disabled]="true" />
                              </div>

                              <div
                                *ngIf="(sub.type | lowercase) == 'textarea' || (sub.type | lowercase) == 'text area'">
                                <textarea class="form-control form-control-sm" id="txtArea" rows="5" cols="50"
                                  [ngModel]="sub.textAreaResponse.employee" [attr.disabled]="true"></textarea>
                              </div>

                              <div *ngIf="(sub.type | lowercase) == 'date'">
                                <input type="text" class="form-control form-control-sm" id="text-{{i}}-{{s}}"
                                  name="text-{{i}}-{{s}}" [ngModel]="sub.dateResponse.employee | date:'dd-MMM-yyyy'"
                                  [attr.disabled]="true" />
                              </div>

                              <div *ngIf="(sub.type | lowercase) == 'dropdown'">
                                <input type="text" class="form-control form-control-sm" id="drop-{{i}}-{{s}}"
                                  name="drop-{{i}}-{{s}}"
                                  [ngModel]="sub.dropDownResponse.dropDownSelectedResponse.employee"
                                  [attr.disabled]="true" />
                              </div>

                            </div>
                          </div>
                        </div>
                        <div *ngIf="(sub.type | lowercase) == 'table'">
                          <div class="form-group row">
                            <div class="col-md-6 font-weight-bold">
                              <p>{{ sub.name }}
                                <i *ngIf="sub.description && sub.description!=''" class="fas fa-info-circle" triggers=""
                                  #pop="bs-popover" [popover]="sub.description" popoverTitle="Description"
                                  [outsideClick]="true" containerClass="customClass" (click)="open(pop)"
                                  placement="right"></i>
                              </p>
                            </div>
                            <div class="col-md-6" *ngIf="payload.reviewId==3">
                              <p>{{sub.goal}}</p>
                            </div>
                          </div>
                          <div class="form-group row">
                            <div class="col-md-12">
                              <div *ngIf="(sub.type | lowercase) == 'table'">
                                <div class="container-fluid px-0">
                                  <div id="table" class="table-responsive">
                                    <table class="table table-stripped table-bordered">
                                      <thead>
                                        <th
                                          *ngFor="let row of getTableColumns(cat.weightageAgainstKRA,sub.tableResponse); let id = index">
                                          <span class="font-italic" [tooltip]="row.description"
                                            trigger="hover">{{row.columnName}}</span>
                                        </th>
                                      </thead>
                                      <ng-container
                                        *ngFor="let rows of sub.tableResponse.tableValueListResponses; let rIdx = index; trackBy: trackByFnRows">
                                        <tr>
                                          <td class="mw-25"
                                            *ngFor="let values of getTableValueResponses(cat.weightageAgainstKRA,sub.tableResponse,rows); let vIdx = index; trackBy: trackByFnCols">
                                            <span *ngIf="(values.type | lowercase)=='text'">
                                              <input type="text" class="form-control form-control-sm"
                                                id="text-{{i}}-{{s}}" name="text-{{i}}-{{s}}"
                                                [ngModel]="values.textResponse.employee" [attr.disabled]="true" />
                                            </span>
                                            <span *ngIf="(values.type | lowercase)=='textarea'">
                                              <textarea type="text" class="form-control form-control-sm"
                                                id="textarea-{{i}}-{{s}}" name="textarea-{{i}}-{{s}}" rows="5" cols="50"
                                                [ngModel]="values.textAreaResponse.employee"
                                                [attr.disabled]="true"></textarea>
                                            </span>
                                            <span *ngIf="(values.type | lowercase) == 'dropdown'">
                                              <input type="text" class="form-control form-control-sm"
                                                id="tdrop-{{i}}-{{s}}" name="tdrop-{{i}}-{{s}}"
                                                [ngModel]="values.dropDownSelectedResponse.employee"
                                                [attr.disabled]="true" />
                                            </span>
                                            <span *ngIf="(values.type | lowercase)=='date'">
                                              <input type="text" class="form-control form-control-sm"
                                                id="text-{{i}}-{{s}}" name="text-{{i}}-{{s}}"
                                                [ngModel]="values.dateResponse.employee | date:'dd-MMM-yyyy'"
                                                [attr.disabled]="true" />
                                            </span>
                                          </td>
                                        </tr>
                                      </ng-container>
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </section>
        </accordion-group>
      </accordion>

      <div class="my-2">
        <div [ngSwitch]="selectedRole">
          <p><b>Rating : </b>{{reviewRateValue}} - <span> <b *ngIf="reviewRate">
                <span *ngIf="reviewRate=='Outstanding'" class="text-success">{{reviewRate}}</span>
                <span *ngIf="reviewRate=='Exceed Expectations'" class="text-primary">{{reviewRate}}</span>
                <span *ngIf="reviewRate=='Meets Expectations'" class="text-warning">{{reviewRate}}</span>
                <span *ngIf="reviewRate=='Below Expectations'" class="text-danger">{{reviewRate}}</span>
              </b></span></p>
        </div>
      </div>

    </div>
  </div>

  <div class="row mx-0" *ngIf="!_isTemplateAvailable">
    <div class="col-12 justify-content-center">
      <div class="alert alert-common" role="alert">
        Something went wrong. Please Try again.
      </div>
    </div>
  </div>
</ng-template>