$thor: #2a3f54;
$stark: #2a3f54;
$steve: #e7e7e7;
$bruce:#d3d6d9;

::selection {
  background-color: #2a3f54;
  color: #fff;
}

$darkBlue: #00204A;

a {
  color: #2a3f54;
  text-decoration: none;
}

p {
  margin-bottom: 1em;
}

h1,
h2 {
  font-weight: 300;
}

h1 {
  border-bottom: 1px dotted #00204A;
  display: block;
  margin: 2rem 0 1rem;
  padding-bottom: 0.5rem;
}

h2 {
  margin: 0.5rem 0;
}

.loading {
  padding: 1em;
}

::ng-deep aside {
  background: $thor;
   padding: 0px !important;
   width: 210px !important;
   overflow: hidden !important;
  //  border-left: rgb(255, 255, 255) !important;
}

// .drop{
//   -webkit-box-shadow: 10px 10px 5px 0px  rgba(73, 111, 150, 0.356);
//   -moz-box-shadow: 10px 10px 5px 0px rgba(73, 111, 150, 0.356);
//   box-shadow: 10px 10px 5px 0px  rgba(73, 111, 150, 0.356);
// }


.demo-header {
  align-items: center;
  background : $steve;
  border-bottom : 3px solid #ec7f1d !important;
  //background:#43bb82;
 // border-bottom-color: hsl(39, 100%, 50%);
  // border-bottom:2px; 
  color: #fff;
  display: flex;
  padding: 1em;
  // border: 1px solid #CCCCCC;
}

  .demo-header__toggle {
    background: transparent;
    border: 0.15rem solid #fff;
    border-left: 0;
    border-right: 0;
    cursor: pointer;
    font-size: 0;
    height: 1.5rem;
    margin-right: 1rem;
    position: relative;
    width: 2rem;
  }
    .demo-header__toggle:after {
      background: #fff;
      content: '';
      height: 0.15rem;
      left: 0;
      margin-top: -0.075rem;
      position: absolute;
      top: 50%;
      width: 100%;
    }

.demo-contents {
  padding: 0 2em;
}

.demo-control {
  background-color: #f6f6f6;
  border: 1px solid #545555;
  cursor: pointer;
  margin-bottom: 0.5em;
  padding: 0.5em 2em;
  transition: background-color 0.15s;
}
.demo-control:hover {
    background-color: #545555;
    color: #fff;
  }

  #name{
    position:absolute; 
    right:10px; 
  }

  #content{
    z-index: 999999!important;
  }
