<span class="row sticky-top flex-nowrap m-2 bg-light justify-content-center" *ngIf="_isAtleastThreeChecked">
  <div class="col-3 col-sm-3 col-md-3 col-lg-3" *ngIf="roleType.Reviewee">
    <button class="form-control form-control-sm hbd"
      (click)="scrollable.scrollToElement('#reviewee',0,600)">Reviewee</button>
  </div>
  <div class="col-3 col-sm-3 col-md-3 col-lg-3" *ngIf="roleType.AppraiserII">
    <button class="form-control form-control-sm hbd"
      (click)="scrollable.scrollToElement('#appraiserii',0,600)">Appraiser-II</button>
  </div>
  <div class="col-3 col-sm-3 col-md-3 col-lg-3" *ngIf="roleType.AppraiserI">
    <button class="form-control form-control-sm hbd"
      (click)="scrollable.scrollToElement('#appraiseri',0,600)">Appraiser-I</button>
  </div>
  <div class="col-3 col-sm-3 col-md-3 col-lg-3" *ngIf="roleType.Reviewer">
    <button class="form-control form-control-sm hbd"
      (click)="scrollable.scrollToElement('#reviewer',0,600)">Reviewer</button>
  </div>
</span>

<div class="m-0 py-4">
  <div *ngIf="!REVIEW" class="alert alert-info" role="alert">
    <strong>Something went wrong. Please Try again.</strong>
  </div>

  <div class="container-fluid">
    <ng-scrollbar smoothScroll #scrollable [trackX]="true" [disableOnBreakpoints]="false">
      <div *ngIf="_isOnlyOneChecked">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12" id="reviewee" *ngIf="roleType.Reviewee">
          <div class="card card-block">
            <div class="card-header">
              <label class="font-weight-bold">Reviewee Assessment
                <span *ngIf="revieweeName"> - {{revieweeName}}</span>
              </label>
            </div>
            <div class="card-body">
              <accordion [closeOthers]="true">
                <accordion-group *ngFor="let kra of accordianList; let idx = index;trackBy:trackByReviewee"
                  [heading]="kra.title" [isOpen]="idx==onlyOpen" (isOpenChange)="log(idx,$event)">
                  <div *ngIf="(!kra?.rejected) && (reviewId==3)" class="pull-right" accordion-heading>
                    <p id="weight" class="pl-1 pull-right">{{weightage[idx]?.value}}</p>
                    <label for="weight" class="font-weight-bold pull-right">Weightage : </label>
                  </div>
                  <app-extrinsic-view [Payload]="REVIEW?.categoryRequests" [index]="idx" [showOnly]="'Reviewee'"
                    [reviewId]="reviewId">
                  </app-extrinsic-view>
                </accordion-group>
              </accordion>
              <div class="col-md-12 pull-left mt-1" *ngIf="(reviewId==3) || (reviewId==1)">
                <div class="pull-left">
                  <p><b>Rating : </b>{{revieweeRate}} - <span> <b *ngIf="revieweeRating">
                        <span *ngIf="revieweeRating=='Outstanding'" class="text-success">{{revieweeRating}}</span>
                        <span *ngIf="revieweeRating=='Exceed Expectations'"
                          class="text-primary">{{revieweeRating}}</span>
                        <span *ngIf="revieweeRating=='Meets Expectations'"
                          class="text-warning">{{revieweeRating}}</span>
                        <span *ngIf="revieweeRating=='Below Expectations'" class="text-danger">{{revieweeRating}}</span>
                      </b></span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12" id="appraiserii" *ngIf="roleType.AppraiserII">
          <div class="card card-block">
            <div class="card-header">
              <label class="font-weight-bold">Appraiser II Assessment
                <span *ngIf="level3ReviewerName"> - {{level3ReviewerName}}</span>
              </label>
            </div>
            <div class="card-body">
              <accordion [closeOthers]="true">
                <accordion-group *ngFor="let kra of accordianList; let idx = index;trackBy:trackByAppii"
                  [heading]="kra.title" [isOpen]="idx==onlyOpen" (isOpenChange)="log(idx,$event)">
                  <div *ngIf="(!kra?.rejected) && (reviewId==3)" class="pull-right" accordion-heading>
                    <p id="weight" class="pl-1 pull-right">{{weightage[idx]?.value}}</p>
                    <label for="weight" class="font-weight-bold pull-right">Weightage : </label>
                  </div>
                  <app-extrinsic-view [Payload]="REVIEW?.categoryRequests" [index]="idx" [showOnly]="'Appraiser II'"
                    [reviewId]="reviewId">
                  </app-extrinsic-view>
                </accordion-group>
              </accordion>
              <div class="col-md-12 pull-left mt-1" *ngIf="(reviewId==3) || (reviewId==1)">
                <div class="pull-left">
                  <p><b>Rating : </b>{{appraiseriiRate}} - <span> <b *ngIf="appraiseriiRating">
                        <span *ngIf="appraiseriiRating=='Outstanding'" class="text-success">{{appraiseriiRating}}</span>
                        <span *ngIf="appraiseriiRating=='Exceed Expectations'"
                          class="text-primary">{{appraiseriiRating}}</span>
                        <span *ngIf="appraiseriiRating=='Meets Expectations'"
                          class="text-warning">{{appraiseriiRating}}</span>
                        <span *ngIf="appraiseriiRating=='Below Expectations'"
                          class="text-danger">{{appraiseriiRating}}</span>
                      </b></span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12" id="appraiseri" *ngIf="roleType.AppraiserI">
          <div class="card card-block">
            <div class="card-header">
              <label class="font-weight-bold">Appraiser I Assessment
                <span *ngIf="level2ReviewerName"> - {{level2ReviewerName}}</span>
              </label>
            </div>
            <div class="card-body">
              <accordion [closeOthers]="true">
                <accordion-group *ngFor="let kra of accordianList; let idx = index;trackBy:trackByAppi"
                  [heading]="kra.title" [isOpen]="idx==onlyOpen" (isOpenChange)="log(idx,$event)">
                  <div *ngIf="(!kra?.rejected) && (reviewId==3)" class="pull-right" accordion-heading>
                    <p id="weight" class="pl-1 pull-right">{{weightage[idx]?.value}}</p>
                    <label for="weight" class="font-weight-bold pull-right">Weightage : </label>
                  </div>
                  <app-extrinsic-view [Payload]="REVIEW?.categoryRequests" [index]="idx" [showOnly]="'Appraiser I'"
                    [reviewId]="reviewId">
                  </app-extrinsic-view>
                </accordion-group>
              </accordion>
              <div class="col-md-12 pull-left mt-1" *ngIf="(reviewId==3) || (reviewId==1)">
                <div class="pull-left">
                  <p><b>Rating : </b>{{appraiseriRate}} - <span> <b *ngIf="appraiseriRating">
                        <span *ngIf="appraiseriRating=='Outstanding'" class="text-success">{{appraiseriRating}}</span>
                        <span *ngIf="appraiseriRating=='Exceed Expectations'"
                          class="text-primary">{{appraiseriRating}}</span>
                        <span *ngIf="appraiseriRating=='Meets Expectations'"
                          class="text-warning">{{appraiseriRating}}</span>
                        <span *ngIf="appraiseriRating=='Below Expectations'"
                          class="text-danger">{{appraiseriRating}}</span>
                      </b></span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12" id="reviewer" *ngIf="roleType.Reviewer">
          <div class="card card-block">
            <div class="card-header">
              <label class="font-weight-bold">Reviewer Assessment
                <span *ngIf="level1ReviewerName"> - {{level1ReviewerName}}</span>
              </label>
            </div>
            <div class="card-body">
              <accordion [closeOthers]="true">
                <accordion-group *ngFor="let kra of accordianList; let idx = index;trackBy:trackByReviewer"
                  [heading]="kra.title" [isOpen]="idx==onlyOpen" (isOpenChange)="log(idx,$event)">
                  <div *ngIf="(!kra?.rejected) && (reviewId==3)" class="pull-right" accordion-heading>
                    <p id="weight" class="pl-1 pull-right">{{weightage[idx]?.value}}</p>
                    <label for="weight" class="font-weight-bold pull-right">Weightage : </label>
                  </div>
                  <app-extrinsic-view [Payload]="REVIEW?.categoryRequests" [index]="idx" [showOnly]="'Reviewer'"
                    [reviewId]="reviewId">
                  </app-extrinsic-view>
                </accordion-group>
              </accordion>
              <div class="col-md-12 pull-left mt-1" *ngIf="(reviewId==3) || (reviewId==1)">
                <div class="pull-left">
                  <p><b>Rating : </b>{{reviewerRate}} - <span> <b *ngIf="reviewerRating">
                        <span *ngIf="reviewerRating=='Outstanding'" class="text-success">{{reviewerRating}}</span>
                        <span *ngIf="reviewerRating=='Exceed Expectations'"
                          class="text-primary">{{reviewerRating}}</span>
                        <span *ngIf="reviewerRating=='Meets Expectations'"
                          class="text-warning">{{reviewerRating}}</span>
                        <span *ngIf="reviewerRating=='Below Expectations'" class="text-danger">{{reviewerRating}}</span>
                      </b></span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row flex-row flex-nowrap">
        <ng-container *ngIf="!_isOnlyOneChecked">
          <div class="col-12 col-sm-6 col-md-5 col-lg-6" id="reviewee" *ngIf="roleType.Reviewee">
            <div class="card card-block">
              <div class="card-header">
                <label class="font-weight-bold">Reviewee Assessment
                  <span *ngIf="revieweeName"> - {{revieweeName}}</span>
                </label>
              </div>
              <div class="card-body">
                <accordion [closeOthers]="true">
                  <accordion-group *ngFor="let kra of accordianList; let idx = index;trackBy:trackByReviewee"
                    [heading]="kra.title" [isOpen]="idx==onlyOpen" (isOpenChange)="log(idx,$event)">
                    <div *ngIf="(!kra?.rejected) && (reviewId==3)" class="pull-right" accordion-heading>
                      <p id="weight" class="pl-1 pull-right">{{weightage[idx]?.value}}</p>
                      <label for="weight" class="font-weight-bold pull-right">Weightage : </label>
                    </div>
                    <app-extrinsic-view [Payload]="REVIEW?.categoryRequests" [index]="idx" [showOnly]="'Reviewee'"
                      [reviewId]="reviewId">
                    </app-extrinsic-view>
                  </accordion-group>
                </accordion>
                <div class="col-md-12 pull-left mt-1" *ngIf="(reviewId==3) || (reviewId==1)">
                  <div class="pull-left">
                    <p><b>Rating : </b>{{revieweeRate}} - <span> <b *ngIf="revieweeRating">
                          <span *ngIf="revieweeRating=='Outstanding'" class="text-success">{{revieweeRating}}</span>
                          <span *ngIf="revieweeRating=='Exceed Expectations'"
                            class="text-primary">{{revieweeRating}}</span>
                          <span *ngIf="revieweeRating=='Meets Expectations'"
                            class="text-warning">{{revieweeRating}}</span>
                          <span *ngIf="revieweeRating=='Below Expectations'"
                            class="text-danger">{{revieweeRating}}</span>
                        </b></span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-5 col-lg-6" id="appraiserii" *ngIf="roleType.AppraiserII">
            <div class="card card-block">
              <div class="card-header">
                <label class="font-weight-bold">Appraiser II Assessment
                  <span *ngIf="level3ReviewerName"> - {{level3ReviewerName}}</span>
                </label>
              </div>
              <div class="card-body">
                <accordion [closeOthers]="true">
                  <accordion-group *ngFor="let kra of accordianList; let idx = index;trackBy:trackByAppii"
                    [heading]="kra.title" [isOpen]="idx==onlyOpen" (isOpenChange)="log(idx,$event)">
                    <div *ngIf="(!kra?.rejected) && (reviewId==3)" class="pull-right" accordion-heading>
                      <p id="weight" class="pl-1 pull-right">{{weightage[idx]?.value}}</p>
                      <label for="weight" class="font-weight-bold pull-right">Weightage : </label>
                    </div>
                    <app-extrinsic-view [Payload]="REVIEW?.categoryRequests" [index]="idx" [showOnly]="'Appraiser II'"
                      [reviewId]="reviewId">
                    </app-extrinsic-view>
                  </accordion-group>
                </accordion>
                <div class="col-md-12 pull-left mt-1" *ngIf="(reviewId==3) || (reviewId==1)">
                  <div class="pull-left">
                    <p><b>Rating : </b>{{appraiseriiRate}} - <span> <b *ngIf="appraiseriiRating">
                          <span *ngIf="appraiseriiRating=='Outstanding'"
                            class="text-success">{{appraiseriiRating}}</span>
                          <span *ngIf="appraiseriiRating=='Exceed Expectations'"
                            class="text-primary">{{appraiseriiRating}}</span>
                          <span *ngIf="appraiseriiRating=='Meets Expectations'"
                            class="text-warning">{{appraiseriiRating}}</span>
                          <span *ngIf="appraiseriiRating=='Below Expectations'"
                            class="text-danger">{{appraiseriiRating}}</span>
                        </b></span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-5 col-lg-6" id="appraiseri" *ngIf="roleType.AppraiserI">
            <div class="card card-block">
              <div class="card-header">
                <label class="font-weight-bold">Appraiser I Assessment
                  <span *ngIf="level2ReviewerName"> - {{level2ReviewerName}}</span>
                </label>
              </div>
              <div class="card-body">
                <accordion [closeOthers]="true">
                  <accordion-group *ngFor="let kra of accordianList; let idx = index;trackBy:trackByAppi"
                    [heading]="kra.title" [isOpen]="idx==onlyOpen" (isOpenChange)="log(idx,$event)">
                    <div *ngIf="(!kra?.rejected) && (reviewId==3)" class="pull-right" accordion-heading>
                      <p id="weight" class="pl-1 pull-right">{{weightage[idx]?.value}}</p>
                      <label for="weight" class="font-weight-bold pull-right">Weightage : </label>
                    </div>
                    <app-extrinsic-view [Payload]="REVIEW?.categoryRequests" [index]="idx" [showOnly]="'Appraiser I'"
                      [reviewId]="reviewId">
                    </app-extrinsic-view>
                  </accordion-group>
                </accordion>
                <div class="col-md-12 pull-left mt-1" *ngIf="(reviewId==3) || (reviewId==1)">
                  <div class="pull-left">
                    <p><b>Rating : </b>{{appraiseriRate}} - <span> <b *ngIf="appraiseriRating">
                          <span *ngIf="appraiseriRating=='Outstanding'" class="text-success">{{appraiseriRating}}</span>
                          <span *ngIf="appraiseriRating=='Exceed Expectations'"
                            class="text-primary">{{appraiseriRating}}</span>
                          <span *ngIf="appraiseriRating=='Meets Expectations'"
                            class="text-warning">{{appraiseriRating}}</span>
                          <span *ngIf="appraiseriRating=='Below Expectations'"
                            class="text-danger">{{appraiseriRating}}</span>
                        </b></span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-5 col-lg-6" id="reviewer" *ngIf="roleType.Reviewer">
            <div class="card card-block">
              <div class="card-header">
                <label class="font-weight-bold">Reviewer Assessment
                  <span *ngIf="level1ReviewerName"> - {{level1ReviewerName}}</span>
                </label>
              </div>
              <div class="card-body">
                <accordion [closeOthers]="true">
                  <accordion-group *ngFor="let kra of accordianList; let idx = index;trackBy:trackByReviewer"
                    [heading]="kra.title" [isOpen]="idx==onlyOpen" (isOpenChange)="log(idx,$event)">
                    <div *ngIf="(!kra?.rejected) && (reviewId==3)" class="pull-right" accordion-heading>
                      <p id="weight" class="pl-1 pull-right">{{weightage[idx]?.value}}</p>
                      <label for="weight" class="font-weight-bold pull-right">Weightage : </label>
                    </div>
                    <app-extrinsic-view [Payload]="REVIEW?.categoryRequests" [index]="idx" [showOnly]="'Reviewer'"
                      [reviewId]="reviewId">
                    </app-extrinsic-view>
                  </accordion-group>
                </accordion>
                <div class="col-md-12 pull-left mt-1" *ngIf="(reviewId==3) || (reviewId==1)">
                  <div class="pull-left">
                    <p><b>Rating : </b>{{reviewerRate}} - <span> <b *ngIf="reviewerRating">
                          <span *ngIf="reviewerRating=='Outstanding'" class="text-success">{{reviewerRating}}</span>
                          <span *ngIf="reviewerRating=='Exceed Expectations'"
                            class="text-primary">{{reviewerRating}}</span>
                          <span *ngIf="reviewerRating=='Meets Expectations'"
                            class="text-warning">{{reviewerRating}}</span>
                          <span *ngIf="reviewerRating=='Below Expectations'"
                            class="text-danger">{{reviewerRating}}</span>
                        </b></span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-scrollbar>
  </div>

  <!-- <div class="row mx-0 p-2">
      <div class="col-6">
        <accordion [closeOthers]="true">
          <accordion-group *ngFor="let kra of accordianList; let idx = index;trackBy:trackByAcc" [heading]="kra.title"
            [isOpen]="idx==0">
          </accordion-group>
        </accordion>
      </div>
      <div class="col-6">
        <accordion [closeOthers]="true">
          <accordion-group *ngFor="let kra of accordianList; let idx = index;trackBy:trackByAcc" [heading]="kra.title"
            [isOpen]="idx==0">
          </accordion-group>
        </accordion>
      </div>
    </div> -->

  <!-- 
    <div class="row mx-0 p-2">
      <div class="col-12">
        <accordion [closeOthers]="true">
          <accordion-group *ngFor="let kra of accordianList; let idx = index;trackBy:trackByAcc" [heading]="kra.title"
            [isOpen]="idx==0">
            <div *ngIf="(!kra?.rejected)" class="pull-right" accordion-heading>
              <p id="weight" class="pl-1 pull-right">{{weightage[idx]?.value}}</p>
              <label for="weight" class="font-weight-bold pull-right">Weightage : </label>
            </div>
            <fieldset disabled="disabled">
              <section id="contact-list">
                <div *ngFor="let cat of REVIEW.categoryRequests; let i=index">
                  <ul class="list-group mt-1" *ngIf="idx==i">
                    <li class="list-group-item bg-light">
                      <p>
                        <span class="font-weight-bold text-viewall">Key Performance Indicators</span>
                        <span *ngIf="cat.weightageAgainstKRA">
                          <span class="pull-right">
                            <div [ngSwitch]="selectedRole">
                              <input *ngSwitchCase="'Reviewee'" type="text"
                                class="form-control form-control-sm quantity pull-right mx-3" style="width:150px"
                                [attr.disabled]="true" placeholder="KRA Weightage" [ngModel]="cat.textRequest.employee"
                                id="weight-{{i}}" />
                              <input *ngSwitchCase="'Reviewer'" type="text"
                                class="form-control form-control-sm quantity pull-right mx-3" style="width:150px"
                                [attr.disabled]="true" placeholder="KRA Weightage" [ngModel]="cat.textRequest.level1"
                                id="weight-{{i}}" />
                              <input *ngSwitchCase="'Appraiser I'" type="text"
                                class="form-control form-control-sm quantity pull-right mx-3" style="width:150px"
                                [attr.disabled]="true" placeholder="KRA Weightage" [ngModel]="cat.textRequest.level2"
                                id="weight-{{i}}" />
                              <input *ngSwitchCase="'Appraiser II'" type="text"
                                class="form-control form-control-sm quantity pull-right mx-3" style="width:150px"
                                [attr.disabled]="true" placeholder="KRA Weightage" [ngModel]="cat.textRequest.level3"
                                id="weight-{{i}}" />
                            </div>
                          </span>
                          <span class="font-weight-bold text-viewall pull-right"><label>KRA Weightage : </label></span>
                        </span>
                      </p>
                      <div class="card p-0">
                        <div class="card-body">
                          <div *ngFor="let sub of cat.subCategoryRequests; let s=index" class="mt-2">
                            <div *ngIf="(sub.type | lowercase) == 'table'">
                              <div class="form-group row">
                                <div class="col-md-5 font-weight-bold">
                                  <p>{{ sub.name }}</p>
                                </div>
                                <div class="col-md-8">
                                  <p>{{sub.description}}</p>
                                </div>
                              </div>
                              <div class="form-group row">
                                <div class="col-md-12">
                                  <div *ngIf="(sub.type | lowercase) == 'text'">
                                    <div [ngSwitch]="selectedRole">
                                      <input *ngSwitchCase="'Reviewee'" type="text" class="form-control form-control-sm"
                                        id="text-{{i}}-{{s}}" name="text-{{i}}-{{s}}" [ngModel]="sub.textRequest.employee"
                                        [attr.disabled]="true" />
                                      <input *ngSwitchCase="'Reviewer'" type="text" class="form-control form-control-sm"
                                        id="text-{{i}}-{{s}}" name="text-{{i}}-{{s}}" [ngModel]="sub.textRequest.level1"
                                        [attr.disabled]="true" />
                                      <input *ngSwitchCase="'Appraiser I'" type="text"
                                        class="form-control form-control-sm" id="text-{{i}}-{{s}}" name="text-{{i}}-{{s}}"
                                        [ngModel]="sub.textRequest.level2" [attr.disabled]="true" />
                                      <input *ngSwitchCase="'Appraiser II'" type="text"
                                        class="form-control form-control-sm" id="text-{{i}}-{{s}}" name="text-{{i}}-{{s}}"
                                        [ngModel]="sub.textRequest.level3" [attr.disabled]="true" />
                                    </div>
                                  </div>
                                  <div
                                    *ngIf="(sub.type | lowercase) == 'textarea' || (sub.type | lowercase) == 'text area'">
                                    <div [ngSwitch]="selectedRole">
                                      <textarea *ngSwitchCase="'Reviewee'" class="form-control form-control-sm"
                                        id="txtArea" rows="5" cols="50" [ngModel]="sub.textAreaRequest.employee"
                                        [attr.disabled]="true"></textarea>
                                      <textarea *ngSwitchCase="'Reviewer'" class="form-control form-control-sm"
                                        id="txtArea" rows="5" cols="50" [ngModel]="sub.textAreaRequest.level1"
                                        [attr.disabled]="true"></textarea>
                                      <textarea *ngSwitchCase="'Appraiser I'" class="form-control form-control-sm"
                                        id="txtArea" rows="5" cols="50" [ngModel]="sub.textAreaRequest.level2"
                                        [attr.disabled]="true"></textarea>
                                      <textarea *ngSwitchCase="'Appraiser II'" class="form-control form-control-sm"
                                        id="txtArea" rows="5" cols="50" [ngModel]="sub.textAreaRequest.level3"
                                        [attr.disabled]="true"></textarea>
                                    </div>
                                  </div>
                                  <div *ngIf="(sub.type | lowercase) == 'date'">
                                    <div [ngSwitch]="selectedRole">
                                      <input *ngSwitchCase="'Reviewee'" type="text" class="form-control form-control-sm"
                                        id="text-{{i}}-{{s}}" name="text-{{i}}-{{s}}" [ngModel]="sub.dateRequest.employee"
                                        [attr.disabled]="true" />
                                      <input *ngSwitchCase="'Reviewer'" type="text" class="form-control form-control-sm"
                                        id="text-{{i}}-{{s}}" name="text-{{i}}-{{s}}" [ngModel]="sub.dateRequest.level1"
                                        [attr.disabled]="true" />
                                      <input *ngSwitchCase="'Appraiser I'" type="text"
                                        class="form-control form-control-sm" id="text-{{i}}-{{s}}" name="text-{{i}}-{{s}}"
                                        [ngModel]="sub.dateRequest.level2" [attr.disabled]="true" />
                                      <input *ngSwitchCase="'Appraiser II'" type="text"
                                        class="form-control form-control-sm" id="text-{{i}}-{{s}}" name="text-{{i}}-{{s}}"
                                        [ngModel]="sub.dateRequest.level3" [attr.disabled]="true" />
                                    </div>
                                  </div>
                                  <div *ngIf="(sub.type | lowercase) == 'dropdown'">
                                    <div [ngSwitch]="selectedRole">
                                      <input *ngSwitchCase="'Reviewee'" type="text" class="form-control form-control-sm"
                                        id="drop-{{i}}-{{s}}" name="drop-{{i}}-{{s}}"
                                        [ngModel]="sub.dropDownResponse.dropDownSelectedRequest.employee"
                                        [attr.disabled]="true" />
                                      <input *ngSwitchCase="'Reviewer'" type="text" class="form-control form-control-sm"
                                        id="drop-{{i}}-{{s}}" name="drop-{{i}}-{{s}}"
                                        [ngModel]="sub.dropDownResponse.dropDownSelectedRequest.level1"
                                        [attr.disabled]="true" />
                                      <input *ngSwitchCase="'Appraiser I'" type="text"
                                        class="form-control form-control-sm" id="drop-{{i}}-{{s}}" name="drop-{{i}}-{{s}}"
                                        [ngModel]="sub.dropDownResponse.dropDownSelectedRequest.level2"
                                        [attr.disabled]="true" />
                                      <input *ngSwitchCase="'Appraiser II'" type="text"
                                        class="form-control form-control-sm" id="drop-{{i}}-{{s}}" name="drop-{{i}}-{{s}}"
                                        [ngModel]="sub.dropDownResponse.dropDownSelectedRequest.level3"
                                        [attr.disabled]="true" />
                                    </div>
                                  </div>
                                  <div *ngIf="(sub.type | lowercase) == 'table'">
                                    <div class="container-fluid px-0">
                                      <div id="table" class="table-responsive">
                                        <table class="table table-stripped table-bordered">
                                          <thead>
                                            <th
                                              *ngFor="let row of getTableColumns(cat.weightageAgainstKRA,sub.tableRequest); let id = index">
                                              <span class="font-italic" [tooltip]="row.description"
                                                trigger="hover">{{row.columnName}}</span>
                                            </th>
                                          </thead>
                                          <ng-container
                                            *ngFor="let rows of sub.tableRequest.tableValueListRequests; let rIdx = index; trackBy: trackByFnRows">
                                            <tr>
                                              <td class="mw-25"
                                                *ngFor="let values of getTableValueRequests(cat.weightageAgainstKRA,sub.tableRequest,rows); let vIdx = index; trackBy: trackByFnCols">
                                                <span *ngIf="(values.type | lowercase)=='text'">
                                                  <div [ngSwitch]="selectedRole">
                                                    <input *ngSwitchCase="'Reviewee'" type="text"
                                                      class="form-control form-control-sm" id="text-{{i}}-{{s}}"
                                                      name="text-{{i}}-{{s}}" [ngModel]="values.textRequest.employee"
                                                      [attr.disabled]="true" />
                                                    <input *ngSwitchCase="'Reviewer'" type="text"
                                                      class="form-control form-control-sm" id="text-{{i}}-{{s}}"
                                                      name="text-{{i}}-{{s}}" [ngModel]="values.textRequest.level1"
                                                      [attr.disabled]="true" />
                                                    <input *ngSwitchCase="'Appraiser I'" type="text"
                                                      class="form-control form-control-sm" id="text-{{i}}-{{s}}"
                                                      name="text-{{i}}-{{s}}" [ngModel]="values.textRequest.level2"
                                                      [attr.disabled]="true" />
                                                    <input *ngSwitchCase="'Appraiser II'" type="text"
                                                      class="form-control form-control-sm" id="text-{{i}}-{{s}}"
                                                      name="text-{{i}}-{{s}}" [ngModel]="values.textRequest.level3"
                                                      [attr.disabled]="true" />
                                                  </div>
                                                </span>
                                                <span *ngIf="(values.type | lowercase)=='textarea'">
                                                  <div [ngSwitch]="selectedRole">
                                                    <textarea *ngSwitchCase="'Reviewee'" type="text"
                                                      class="form-control form-control-sm" id="textarea-{{i}}-{{s}}"
                                                      rows="5" cols="50" name="textarea-{{i}}-{{s}}"
                                                      [ngModel]="values.textAreaRequest.employee"
                                                      [attr.disabled]="true"> </textarea>
                                                    <textarea *ngSwitchCase="'Reviewer'" type="text"
                                                      class="form-control form-control-sm" id="textarea-{{i}}-{{s}}"
                                                      rows="5" cols="50" name="textarea-{{i}}-{{s}}"
                                                      [ngModel]="values.textAreaRequest.level1"
                                                      [attr.disabled]="true"> </textarea>
                                                    <textarea *ngSwitchCase="'Appraiser I'" type="text"
                                                      class="form-control form-control-sm" id="textarea-{{i}}-{{s}}"
                                                      rows="5" cols="50" name="textarea-{{i}}-{{s}}"
                                                      [ngModel]="values.textAreaRequest.level2"
                                                      [attr.disabled]="true"> </textarea>
                                                    <textarea *ngSwitchCase="'Appraiser II'" type="text"
                                                      class="form-control form-control-sm" id="textarea-{{i}}-{{s}}"
                                                      rows="5" cols="50" name="textarea-{{i}}-{{s}}"
                                                      [ngModel]="values.textAreaRequest.level3"
                                                      [attr.disabled]="true"> </textarea>
                                                  </div>
                                                </span>
                                                <span *ngIf="(values.type | lowercase) == 'dropdown'">
                                                  <div [ngSwitch]="selectedRole">
                                                    <input *ngSwitchCase="'Reviewee'" type="text"
                                                      class="form-control form-control-sm" id="tdrop-{{i}}-{{s}}"
                                                      name="tdrop-{{i}}-{{s}}"
                                                      [ngModel]="values.dropDownSelectedRequest.employee"
                                                      [attr.disabled]="true" />
                                                    <input *ngSwitchCase="'Reviewer'" type="text"
                                                      class="form-control form-control-sm" id="tdrop-{{i}}-{{s}}"
                                                      name="tdrop-{{i}}-{{s}}"
                                                      [ngModel]="values.dropDownSelectedRequest.level1"
                                                      [attr.disabled]="true" />
                                                    <input *ngSwitchCase="'Appraiser I'" type="text"
                                                      class="form-control form-control-sm" id="tdrop-{{i}}-{{s}}"
                                                      name="tdrop-{{i}}-{{s}}"
                                                      [ngModel]="values.dropDownSelectedRequest.level2"
                                                      [attr.disabled]="true" />
                                                    <input *ngSwitchCase="'Appraiser II'" type="text"
                                                      class="form-control form-control-sm" id="tdrop-{{i}}-{{s}}"
                                                      name="tdrop-{{i}}-{{s}}"
                                                      [ngModel]="values.dropDownSelectedRequest.level3"
                                                      [attr.disabled]="true" />
                                                  </div>
                                                </span>
                                                <span *ngIf="(values.type | lowercase)=='date'">
                                                  <div [ngSwitch]="selectedRole">
                                                    <input *ngSwitchCase="'Reviewee'" type="text"
                                                      class="form-control form-control-sm" id="text-{{i}}-{{s}}"
                                                      name="text-{{i}}-{{s}}" [ngModel]="values.dateRequest.employee"
                                                      [attr.disabled]="true" />
                                                    <input *ngSwitchCase="'Reviewer'" type="text"
                                                      class="form-control form-control-sm" id="text-{{i}}-{{s}}"
                                                      name="text-{{i}}-{{s}}" [ngModel]="values.dateRequest.level1"
                                                      [attr.disabled]="true" />
                                                    <input *ngSwitchCase="'Appraiser I'" type="text"
                                                      class="form-control form-control-sm" id="text-{{i}}-{{s}}"
                                                      name="text-{{i}}-{{s}}" [ngModel]="values.dateRequest.level2"
                                                      [attr.disabled]="true" />
                                                    <input *ngSwitchCase="'Appraiser II'" type="text"
                                                      class="form-control form-control-sm" id="text-{{i}}-{{s}}"
                                                      name="text-{{i}}-{{s}}" [ngModel]="values.dateRequest.level3"
                                                      [attr.disabled]="true" />
                                                  </div>
                                                </span>
                                              </td>
                                            </tr>
                                          </ng-container>
                                        </table>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </section>
            </fieldset>
          </accordion-group>
        </accordion>
      </div>
    </div>
  </div> -->

  <!-- <pre>{{REVIEW | json}}</pre> -->