<ng-container>
  <app-alert *ngIf="(status|lowercase)=='success' || (status|lowercase)=='failure'" [status]="statusMessage">
  </app-alert>
</ng-container>

<div class="mt-4">
  <div class="row">
    <div class="col-md-6 col-sm-8">
      <h5>{{reviewType}} Reviews</h5>
    </div>
    <div class="col-md-3 col-sm-4">
      <div class="m-0 p-0">
        <div class="input-group" *ngIf="getReviews()?.length>0">
          <input class="form-control form-control-sm py-2 border-right-0 border" type="search" placeholder="Search.."
            id="example-search-input" [(ngModel)]="searchText">
          <span class="input-group-append">
            <div class="input-group-text bg-transparent"><i class="fa fa-xs fa-search"></i></div>
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-4">
      <select class="form-control form-control-sm" (change)="optionChanged($event.target.value)">
        <option value="open" [selected]="selectedType=='open'">Open</option>
        <option value="closed" [selected]="selectedType=='closed'">Closed</option>
      </select>
    </div>
  </div>
  <hr class="m-0 p-0 mt-2" />
</div>
<div *ngIf="getReviews()?.length==0" class="alert alert-common text-center align-middle mt-4">
  <strong>No Data Available</strong>
</div>

<div id="responsive" class="table-responsive mt-3" *ngIf="selectedType=='open' && getReviews()?.length>0">
  <ng-scrollbar smoothScroll #scrollable [trackX]="true" [shown]="'hover'" containerClass="px-2">
    <table #table class="table  table-sm table-hover table-bordered text-nowrap mb-0">
      <thead>
        <th>
          <div class="custom-control custom-checkbox text-center">
            <input type="checkbox" class="custom-control-input" [checked]="isEveryThingChecked"
              (change)="checkORUnCheckAll($event)" id="customCheck1">
            <label class="custom-control-label" for="customCheck1"></label>
          </div>
        </th>
        <th>Emp No</th>
        <th>Name</th>
        <th>Appraiser II</th>
        <th>Appraiser I</th>
        <th>Reviewer</th>
        <th>Review Start Date</th>
        <th>Review End Date</th>
      </thead>
      <tbody>
        <tr *ngFor="let data of getReviews()
          | filter : {
            name: searchText,
            userId: searchText
          }
          | sortBy  : {
            property: column,
            direction: direction
          }
          | paginate : {
            itemsPerPage: 10,
            currentPage: p
          };let i =index">
          <td>
            <div class="custom-control custom-checkbox text-center">
              <input type="checkbox" class="custom-control-input" (change)="findChecked($event,data.userId)"
                [checked]="data.isChecked" id="customCheck{{p}}{{i}}">
              <label class="custom-control-label" for="customCheck{{p}}{{i}}"></label>
            </div>
          </td>
          <td>{{data.userId}}</td>
          <td>{{data.name}}</td>
          <td>{{data.level3ReviewerName | hyphen:'-'}} </td>
          <td>{{data.level2ReviewerName | hyphen:'-'}} </td>
          <td>{{data.level1ReviewerName | hyphen:'-'}} </td>
          <td>{{data.reviewStartDate | date:'dd-MMM-yyyy'}}</td>
          <td><input type="text" readonly autocomplete="off" bsDatepicker class="form-control form-control-sm" id="date"
              name="date" #dtOS="bsDatepicker" placeholder="DD-MMM-YYYY" [bsValue]="data.reviewEndDate"
              [disabled]="data.disable" value="{{ data.reviewEndDate | date:'dd-MMM-yyyy' }}"
              [(ngModel)]="data.reviewEndDate" [minDate]="getMinDate(data.reviewStartDate)"
              [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY', containerClass: 'theme-dark-blue',showWeekNumbers:false }" />
          </td>
        </tr>
      </tbody>
    </table>
  </ng-scrollbar>

  <div *ngIf="table.rows.length == 0" class="col-12 alert alert-common text-center align-middle">
    <strong>Search Results Not found!</strong>
  </div>

  <div *ngIf="getReviews()?.length>10 " class="p-2">
    <pagination-controls class="my-pagination" (pageChange)="p = $event" previousLabel="" nextLabel=""
      class="pull-right"></pagination-controls>
  </div>
  <div class="mt-5">
    <button *ngIf="getReviews()?.length > 0" type="button" (click)="submit()" [disabled]="!isAtleastOnceSelected"
      class="btn bg-thor text-white float-right mb-5">Submit</button>
  </div>
</div>


<div id="responsive" class="table-responsive mt-3" *ngIf="selectedType=='closed' && getReviews()?.length>0">
  <ng-scrollbar smoothScroll #scrollable [trackX]="true" [shown]="'hover'" containerClass="px-2">
    <table class="table  table-sm table-hover table-bordered text-nowrap  mb-0">
      <thead>
        <th>Emp No</th>
        <th>Name</th>
        <th>Appraiser II</th>
        <th>Appraiser I</th>
        <th>Reviewer</th>
        <th>Review Start Date</th>
        <th>Review End Date</th>
        <th>Review</th>
      </thead>
      <tbody>
        <tr *ngFor="let data of getReviews()
          | filter : {
            name: searchText,
            userId: searchText
          }
          | sortBy  : {
            property: column,
            direction: direction
          }
          | paginate : {
            itemsPerPage: 10,
            currentPage: p
          };let i =index">
          <td>{{data.userId}}</td>
          <td>{{data.name}}</td>
          <td>{{data.level3ReviewerName | hyphen:'-'}} </td>
          <td>{{data.level2ReviewerName | hyphen:'-'}} </td>
          <td>{{data.level1ReviewerName | hyphen:'-'}} </td>
          <td>{{data.reviewStartDate | date:'dd-MMM-yyyy'}}</td>
          <td>{{data.reviewEndDate | date:'dd-MMM-yyyy'}}</td>
          <td>
            <button class="btn  bg-thor btn-sm"
              (click)="openModal(template,data.reviewData,data.level1ReviewerName,data.level2ReviewerName,data.level3ReviewerName)"><i
                class="fa fa-eye eye text-white"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-scrollbar>
  <div *ngIf="getReviews()?.length>10 " class="p-2">
    <pagination-controls class="my-pagination" (pageChange)="p = $event" previousLabel="" nextLabel=""
      class="pull-right"></pagination-controls>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h5 class="modal-title pull-left">Submitted Review</h5>
    <div class="pull-right mt-0 ml-2" *ngIf="reviewData">
      <select class="form-control form-control-sm  mt-0 pt-0" id="role" name="role" [(ngModel)]="selectedRole"
        (ngModelChange)="calculateRate()">
        <ng-container *ngFor="let role of roleType">
          <option [value]="role">
            {{role}}
          </option>
        </ng-container>
      </select>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-template-view [Responses]="reviewData" [reviewId]="reviewId" [selectedRole]="selectedRole">
    </app-template-view>
  </div>
</ng-template>